.featured_styles{
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-auto-rows: 150px;
}

.featured_styles .big_feature{
    grid-column: span 2;
    grid-row: span 2;
    border-radius: 20px;
}

.featured_styles .featured_style{
    position: relative;
    overflow: hidden;
}

.featured_styles .featured_style .overlay{
    background-color: rgba(0,0,0,0.3);
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
} 

.featured_styles .big_feature .overlay{
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    padding: 30px;
    justify-content: flex-end;
}

.featured_styles .featured_style .overlay h1{
    color: white;
    font-weight: normal;
    font-size: 1.5em;   
}

.featured_styles .featured_style img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.5s;
}

.featured_styles .featured_style img:hover, .featured_styles .featured_style2 .img_container img:hover{
    transform: scale(1.2);
}

.featured_products{
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-auto-rows: fit-content;
}

.featured_products .product{
	position: relative;
	transition: all 0.5s;
	display: flex;
	flex-direction: column;
	margin-top: 15px;
    border-radius: 5px;
    border-radius: 5px;
    background-color: #eaeaea;
    overflow: hidden;
}

.featured_products .product h3{
    font-weight: normal;
}

.featured_products .product .image_container{
	height: 205px;
	position: relative;
	overflow: hidden;
}

.featured_products .product img{
	position: absolute;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	transition: all 0.5s;
}

.featured_products .product:hover img{
    transform: scale(1.2);
}

.featured_products .product .badge{
    background-color: #FF3B30;
    color: white;
    border-radius: 10px;
    padding: 5px 10px;
    position: absolute;
    top: 5px;
    left: 5px;
    font-weight: bold;
    font-size:0.85em;
}

.featured_products .product .like_button{
	position: absolute;
	top: 0;
	right: 0;
	color: white;
	transition: color 0.5s;
	padding: 10px;
	margin: 5px;
	background-color: rgba(0,0,0,0.2);
	border-radius: 100%;
    cursor: pointer;
}

.featured_products .product .product_desc{
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.featured_products .product .product_desc .product_rating{
    display: flex;
    align-items: center;
    gap: 5px;
}

.featured_products .product .product_desc .product_rating .product_stars{
    display: flex;
    align-items: center;
    gap: 3px;
}

.featured_products .product .product_desc .product_rating .product_stars i{
    color: orange;
    font-size: 0.75rem;
}

.featured_products .product .product_desc .product_rating .rating_text{
    color: grey;
    font-size: 0.85rem;
    white-space: nowrap;
}

.featured_products .product .discount_section{
    display: flex;
    align-items: center;
    gap: 10px;
}

.featured_products .product .price_and_discount{
    display: flex;
    align-items: center;
    gap: 5px;
}

.featured_products .product .price_and_discount .discount_price{
    text-decoration: line-through; 
    color: gray;
}

.featured_products .product .discount_section .discount{
    background: linear-gradient(135deg, #48bb78, #38a169);
    color: white;
    padding: 0.25rem 0.5rem;
    border-radius: 8px;
    font-size: 0.75rem;
    font-weight: 600;
    text-align: center;
}

.featured_products .product .add_container{
    transition: all 0.5s;
    padding: 10px 17px;
    border: solid 1px grey;
    border-radius: 5px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.featured_products .product .add_container:hover{
    background-color: #4a90e2;
    color: white;
    border-color: #3a80d2;
}

.featured_products .product .add_container .add_cart_button{
    color: black;
    background: none;
    transition: all 0.5s;
}

.featured_products .product .add_container:hover .add_cart_button{
    color: white;
}

.success_added{
    color: #28a745 !important;
}

.featured_products .product .add_container:hover .success_added{
    color: white !important;
}

.featured_products .product .like_button:hover{
	color: dodgerblue;
}

.featured_styles .big_feature img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.5s;
}

.featured_styles .big_feature img:hover{
    transform: scale(1.2);
}

@media(max-width: 700px){
    .featured_styles .big_feature{
        grid-column: span 1;
        grid-row: span 1;
    }

    .featured_styles .big_feature .overlay{
        align-items: center;
        padding: unset;
        justify-content: center;
    }

    .featured_products{
        display: flex;
        width: 100%;
        overflow-x: auto;
        padding-bottom: 10px;
    }

    .featured_products .product{
        /* min-width: max-content; */
        min-width: 250px;
    }

    .featured_products .product .image_container{
        min-width: 200px;
        height: 180px;
    }

    .featured_products .product .product_desc .product_rating{
        flex-direction: column;
        align-items: flex-start;
        gap: 15px;
    }
}

@media (prefers-color-scheme: dark){
    .featured_products .product .add_container .add_cart_button{
        color: white;
    }

    .featured_products .product{
        background-color: #222222;
    }

    .featured_products .product .add_container{
        border: solid 1px #666;
    }
}