body{
  overflow-x: hidden;
}

main{
  display: flex;
  padding: 20px;
}

main .product_preview_plus_extra_images{
  display: flex;
  gap: 10px;
}

main .first{
  position: relative;
  border-radius: 20px;
  width: 45vw;
  overflow: hidden;
}

.slider{
  position: relative;
  width: 45vw;
  left: 0;
  display: flex;
}

img{
  height: 70vh;
  width: 45vw;
  object-fit: cover;
  border-radius: 20px;
}

.prev,
.next {
  position: absolute;
  cursor: pointer;
  top: 55%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

.prev{
  left: 15px;
}

.next {
  right: 20px;
  border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

main .additional_images{
  display: grid;
  gap: 5px;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  grid-auto-rows: 110px;
}

main .additional_images .additional_image{
  position: relative;
  transition: all 0.8s;
  cursor: pointer;
  border-radius: 20px;
  overflow: hidden;
  background: url(../images/1.jpg) no-repeat center/cover;
}

main .additional_images .additional_image img{
  position: absolute;
  object-fit: cover;
  left: 0;
  width: 100%;
  height: 100%;
  transition: 1s;
}

main .additional_images .additional_image:hover img{
  opacity: 1;
  transform: scale(1.3);
  z-index: 2;
  box-shadow: 0 5px 20px rgba(0,0,0, 1);
}

.inactive{
  opacity: 0.4;
}

main .product_description{
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

main .product_description .prices_and_discount{
  display: flex;
  align-items: center;
  gap: 10px;
}

main .product_description .prices_and_discount .old_price{
  text-decoration: line-through;
}

main .product_description .prices_and_discount .discount{
  padding: 3px 7px;
  background-color: white;
  color: black;
  border-radius: 10px;
}

main .product_description .reviews{
	display: flex;
	align-items: center;
	gap: 5px;
	color: white;
}

main .product_description .various_colors{
  display: flex;
  gap: 10px;
  align-items: center;
}

main .product_description .various_colors div{
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

main .product_description .various_colors div div{
  width: 30px;
  height: 30px;
  border: none;
}

main .product_description .various_colors div:nth-child(1) div{
  width: 30px;
  height: 30px;
  background-color: #222222;
}

main .product_description .various_colors div:nth-child(2) div{
  background-color: darkblue;
}

main .product_description .various_colors div:nth-child(3) div{
  background-color: darkgreen;
}

@media(max-width: 700px){
  main{
    flex-direction: column;
    gap: 20px;
    padding: 0;
  }

  main .first{
    position: relative;
    border-radius: 20px;
    width: 100vw;
    overflow-x: hidden;
  }
  
  .slider{
    position: relative;
    width: 100vw;
    left: 0;
    display: flex;
  }

  .prev,
  .next {
    top: 50%;
  }

  .prev{
    left: 0;
  }
  
  img{
    height: 60vh;
    width: 100vw;
    object-fit: cover;
  }

  main .product_description{
    padding: 20px;
  }

  main .product_preview_plus_extra_images{
    flex-direction: column-reverse;
  }

  main .additional_images{
    display: grid;
    gap: 5px;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    grid-auto-rows: 120px;
  }

  .featured_products{
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    grid-auto-rows: fit-content;
  }

  .featured_products .product .image_container{
    height: 110px;
  }
}

@media(prefers-color-scheme: dark){
  main .product_description .various_colors div{
    border: 1px solid #3c3c3c;
  }
}