main .filter_results_section{
    border-left: none;
}

main .filter_options_section .filter_section .filter_options_section_option{
    border-bottom: none;
}

main .filter_options_section .filter_section .filter_options_section_option:nth-child(1) p{
    color: dodgerblue; 
}

.profile_change_container{
    display: flex;
    gap: 20px;
    align-items: center;
}

.profile_change_container .profile_pic{
    width: 100px;
    height: 100px;
    background: url(../images/avatar.jpeg) no-repeat center/cover;
    border-radius: 100%;
}

.profile_change_container input[type='file']{
	display: none;
    pointer-events: none;
}

.profile_change_container label{
    cursor: pointer;
	color: white;
	height: 50px;
	width: 120px;
	background-color: #f5af09;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.2em;
	font-family: "Monserrat", sans-serif;
    transition: all 0.5s;
    border-radius: 20px;
}

.profile_change_container label:hover{
    background-color: orangered;
}

.filter_results_section form{
    max-width: 500px;
}

.filter_results_section form, .label_plus_input{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.all_names{
    display: flex;
    gap: 10px;
}

.label_plus_input input{
    width: 100%;
}

.filter_results_section form button{
    cursor: pointer;
    padding: 10px 20px;
    max-width: fit-content;
    border: none;
    background-color: dodgerblue;
    color: white;
    transition: background-color 0.5s;
    pointer-events: initial;
    border-radius: 20px;
}

.filter_results_section form button:hover{
	background-color: orangered;
}