:root {
    --bg-color: #ffffff;
    --text-color: #333333;
    --border-color: #cccccc;
    --hover-bg: #f5f5f5;
}

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
	font-family: "Poppins", sans-serif;
}

@font-face {
    font-family: 'Disney'; 
    src: url('/fonts/waltographUI.ttf');
}

.tooltip {
    position: relative;
    cursor: pointer;
}

.tooltip .tooltip-text{
    visibility: hidden;
    width: 150px;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 8px 12px;
    border-radius: 6px;
    position: absolute;
    top: 125%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s;
    z-index: 1;
}

.tooltip:last-child .tooltip-text{
    left: -20px;
}

.tooltip:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
}

body{
	overflow-x: hidden;
    transition: background-color 0.3s;
}

a{
	text-decoration: none;
	color: black;
    transition: color 0.5s;
}

header{
    display: flex;
    flex-direction: column;
}

nav{
	display: flex;
	justify-content: space-between;
	padding: 15px;
	gap: 5px;
}

nav .logo{
    display: flex;
    align-items: center;
    text-decoration: none;
}

nav .logo img{ 
    width: 35px;
    height: 35px;
    object-fit: cover;
}

nav .nav_links{
	display: flex;
	align-items: center;
	gap: 50px;
}

nav .nav_links .nav__link{
    --spacing: 1em;
    text-decoration: none;
    display: inline-block;
    padding: calc(var(--spacing) / 2) var(--spacing);
    position: relative;
    font-weight: bold;
  }
  
nav .nav_links .nav__link:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: var(--spacing);
    right: var(--spacing);
    height: 2px;
    background: currentColor;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    transition: -webkit-transform 150ms ease-in-out;
    transition: transform 150ms ease-in-out;
    transition: transform 150ms ease-in-out, -webkit-transform 150ms ease-in-out;
}
  
nav .nav_links .nav__link:hover::after {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

nav .more_options{
	display: flex;
	gap: 50px;
}

nav .more_options a, nav .more_options div{
	display: flex; 
	gap: 5px; 
	align-items: center;
}

nav .more_options i{
    padding: 13px;
    border-radius: 100%;
    transition: all 0.5s;
}

nav .more_options i:hover{
    background-color: rgba(0,0,0,0.3);
}

nav .more_options .notifications_button{
    position: relative;
}

nav .more_options .notifications_button .number_of_notifications{
    position: absolute;
    right: -6px;
    top: -2px;
    width: 20px;
    height: 20px;
    padding: 12px;
    border-radius: 50%;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    pointer-events: none;
}

nav .more_options .tooltip .notifications_container{
    position: absolute;
    top: 124%;
    left: -230px;
    background-color: white;
    color: black;
    z-index: 200;
    display: flex;
    flex-direction: column;
    width: 450px;
    cursor: default;
    overflow: hidden;
    border-radius: 10px;
}

.notifications_container .button{
    padding: 10px 20px;
    margin-bottom: 20px;
    background-color: dodgerblue;
    border-radius: 20px;
    color: white;
}

nav .more_options .tooltip .stuff{
    width: 100%;
    font-size: 1.1em;
    padding-top: 15px;
    padding-left: 15px;
    text-align: center;
}

.notifications_container .all_notifications{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0;
}

.notifications_container .all_notifications .notification{
    width: 100%;
    display: flex;
    gap: 5px;
    padding: 10px;
    transition: all 0.7s;
}

.notifications_container .all_notifications .notification:hover{
    background-color: #cccccc;
}

.notifications_container .all_notifications .notification .profile_pic{
    min-width: 50px;
    min-height: 50px;
    border-radius: 50%;
    align-self: flex-start;
    background: url(../images/avatar.jpeg) no-repeat center/cover;
}

.notifications_container .all_notifications .notification .message_container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    width: 100%;
}

.message_container .both{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.message_container .both .dot{
    padding: 5px;
    border-radius: 100%;
    background-color: dodgerblue;
}

.notifications_container .all_notifications .notification .message_container p{
    word-break: break-all;
    white-space: normal;
}

.notifications_container .all_notifications .notification .message_container span{
    font-weight: bold;
}

.notifications_container .all_notifications .notification .message_container .time{
    width: 100%;
    display: flex; 
    justify-content: space-between;
}

.notifications_container .all_notifications .notification .message_container .response{
    background-color: #bbb;
    padding: 10px 15px;
    max-width: 450px;
    display: flex;
    gap: 10px;
    flex-direction: column;
    border-radius: 5px;
}

nav .more_options .tooltip .profile{
    width: 210px;
    left: -142px;
}

nav .more_options .tooltip .profile .profile_option{
    width: 100%;
    align-items: center;
    transition: background-color 0.7s;
}

nav .more_options .tooltip .profile .profile_option:hover{
    background-color: #ccc;
}

nav .more_options .tooltip .profile .profile_option i:hover{
    background-color: initial;
}

nav .nav_icon_container{
    display: none !important;
    align-items: center;
    gap: 15px;
}

.hide_nav_links{
	display: none !important;
}

header form{
    flex: 1;
    display: flex;
    gap: 5px;
    opacity: 0;
    max-height: 0;
    transition: opacity 0.5s, max-height 0.5s;
    position: relative;
}

.first_form{
	max-width: 0;
	position: absolute;
	pointer-events: none;
}

.second_form{
	display: none;
}

header form input{
    padding-right: 35px;
}

header form .search_suggestions{
    position: absolute;
    margin-top: 1px;
    width: 100%;
    background: #f2f2f2;
    z-index: 3333;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

header form .search_suggestions{
    top: 45px;
}

.fa-xmark{
    position: absolute;
    right: 62px;
    top: 6px;
    cursor: pointer;
    font-size: 1.2em;
    color: black;
    border-radius: 100%;
    padding: 5px 7px;
    transition: all 0.5s;
}

.fa-xmark:hover{
    background-color: rgba(255,255,255,0.3);
}

header form .search_suggestions a{
    text-decoration: none;
    transition: all 0.5s;
    padding: 12px 15px;
    display: flex;
    align-items: center;
    gap: 15px;
}

header form .search_suggestions a:hover{
    background: #B3B3B3;
    color: black !important;
}

.show_header{
	/* for first header */
	max-width: 100%;
	pointer-events: all;
	position: relative;
	/* it ends here */
    opacity: 1;
    max-height: 300px;
    margin: 0 8px;
}

header form input{
    flex: 1;
}

header form button{
    cursor: pointer;
    padding: 10px 20px;
    max-width: fit-content;
    border: none;
    background-color: dodgerblue;
    color: white;
    transition: background-color 0.5s;
    pointer-events: initial;
}

.mobile_screen_sidebar{
    position: fixed;
    top: 0;
    left: 100%;
    width: 100%;
    height: 100vh;
    background-color: white;
    z-index: 20000;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    transition: all 0.5s;
}

.close_button{
    font-size: 25px;
    align-self: flex-end;
    cursor: pointer;
    flex: 1;
    color: black;
}

.mobile_screen_sidebar div{
    flex: 5;
}

.mobile_screen_sidebar div a{
    flex: 1;
    width: 100%;
}

.welcome_container{
	height: 60vh;
	/* changed below from 500 to 400 */
	width: 400%;
	position: relative;
	display: flex;
	/* below is what I added later */
	transition: all 1s;
	left: 0;
}

.welcome_plus_slider{
	position: relative;
}

.welcome_plus_slider .slider_controller{
	position: absolute;
	left: 45vw;
	bottom: 20px;
	z-index: 100;
	display: flex;
	gap: 20px;
}

.welcome_plus_slider .slider_controller i{
	font-size: 1.5em;
	cursor: pointer;
    color: white;
}

.hide_icon{
	display: none;
}

.welcome_container .slider_info{
	flex-basis: 50%;
	position: relative;
}

.welcome_container img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.welcome_container .overlay{
    background-color: rgba(0,0,0,0.6);
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.welcome_container .overlay .welcome_message{
	color: white;
	padding: 20px;
	display: flex;
	flex-direction: column;
	gap: 30px;
	max-width: 60%;
}

.welcome_container .overlay .welcome_message button, 
.main_categories .category .category_description button
{
    cursor: pointer;
    padding: 10px 20px;
    max-width: fit-content;
    border: none;
    background-color: black;
    color: white;
    transition: background-color 0.5s;
    pointer-events: initial;
}

.welcome_container .overlay .welcome_message button{
	background-color: dodgerblue;
}

.welcome_container .overlay .welcome_message button:hover, 
.main_categories .category .category_description button:hover{
    background-color: orangered;   
}

main{
    padding: 20px;
	padding-bottom: 40px;
    min-height: 60vh;
}

main .small_info{
	margin: 30px 0;
	text-align: center;
}

main .small_info p{
	color: rgb(170, 170, 170); 
	margin: 10px
}

.why_us_reasons{
	display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-auto-rows: fit-content;
    grid-auto-flow: dense;
    background-color: #EAEAEA;
}	

.why_us_reasons .reason{
	display: flex;
	flex-direction: column;
	text-align: center;
	align-items: center;
	padding: 20px;
	gap: 15px;
	border-right: 2px solid #ccc;
}

.why_us_reasons .reason img{
	height: 50px;
	width: 50px;
	object-fit: cover;
}

.why_us_reasons .reason img:nth-child(2){
	display: none;
}

.why_us_reasons .reason:last-child{
	border-right: none;
}

input{
    padding: 10px;
}

.heading{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    padding-top: 20px;
}

.heading .header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    width: 100%;
}

.heading h3, .heading i,
.heading h2{
    font-weight: normal;
}

.featured_styles{
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-auto-rows: 150px;
    padding: 10px; 
}

.featured_styles .big_feature{
    grid-column: span 2;
    grid-row: span 2;
    border-radius: 20px;
}

.featured_styles .featured_style{
    position: relative;
    overflow: hidden;
}

.featured_styles .featured_style .overlay{
    background-color: rgba(0,0,0,0.2);
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
} 

.featured_styles .big_feature .overlay{
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    padding: 30px;
    justify-content: flex-end;
}

.featured_styles .featured_style .overlay h1{
    color: white;
    font-style: normal;
    font-weight: 300;
    font-size: 30px;   
}

.featured_styles .featured_style img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.5s;
}

.featured_styles .featured_style img:hover, .featured_styles .featured_style2 .img_container img:hover{
    transform: scale(1.2);
}

.featured_products{
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-auto-rows: fit-content;
}

.featured_products .product{
	position: relative;
	transition: all 0.5s;
	display: flex;
	flex-direction: column;
	gap: 10px;
	margin-top: 15px;
    text-align: center;
}

.featured_products .product .image_container{
	height: 230px;
	z-index: -1;
	position: relative;
	overflow: hidden;
	border-radius: 10px;
}

.featured_products .product img{
	position: absolute;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	transition: all 0.5s;
}

.featured_products .product:hover img{
    transform: scale(1.2);
}

.featured_products .product i{
	position: absolute;
	top: 0;
	right: 0;
	color: white;
	transition: color 0.5s;
	padding: 10px;
	margin: 5px;
	background-color: rgba(0,0,0,0.2);
	border-radius: 100%;
}

.featured_products .product i:hover{
	color: dodgerblue;
}

.break_info{
    display: flex;
    gap: 20px;
}

.break_info .left_side{
    flex: 1;
    height: 450px;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
}

.break_info .left_side img{
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.break_info .right_side{
    flex: 1;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.break_info .right_side div{
    flex: 1;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
}

.break_info .right_side div img{
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.break_info .left_side .overlay, 
.break_info .right_side div .overlay{
    background-color: rgba(0,0,0,0.7);
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.break_info .right_side div .overlay h2{
    font-weight: normal;
}

.break_info .heading,.break_info .heading .tags .tag{
    color: white;
}

.other_categories{
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-auto-rows: 190px;
    grid-auto-flow: dense;
    padding: 10px;
}

.other_categories .other_category{
    border-radius: 20px;
    overflow: hidden;
    position: relative;
}

.other_categories .other_category img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.other_categories .other_category .overlay{
    background-color: rgba(0,0,0,0.4);
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.other_categories .other_category .overlay button{
    cursor: pointer;
    padding: 5px 15px;
    max-width: fit-content;
    border: none;
    border-radius: 7px;
    background-color: dodgerblue;
    color: white;
    transition: background-color 0.5s;
    pointer-events: initial;
}

.other_categories .other_category .overlay button:hover{
    background-color: orangered;   
}

.other_categories .other_category .overlay .heading{
    gap: 20px;
    padding-top: 0;
    width: 70%;
    transition: all 0.7s;
    opacity: 0;
}

.other_categories .other_category .overlay:hover .heading{
    opacity: 1;
}

.other_categories .big{
    grid-row: span 2;
}

.other_categories .big .overlay{
    gap: 20px;
}

.other_categories .other_category .overlay h2,
.other_categories .other_category .overlay .heading
{
    color: white;
}

.faq_section{
    display: flex;
    gap: 10px;
    margin: 40px 0;
}

.faq_section .image_section{
    flex: 1;
    position: relative;
    border-radius: 20px;
    overflow: hidden;
    min-height: 55vh;
    max-height: 55vh;
}

.faq_section .image_section img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.faq-container {
    flex: 1;
    padding: 0 20px;
    border-radius: 8px;
    background-color: var(--container-bg);
}

.faq-container h2{
    margin-bottom: 20px;
}

.faq-item {
    margin-bottom: 15px;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    overflow: hidden;
}

.faq-question{
    width: 100%;
    padding: 15px;
    font-size: 16px;
    background-color: var(--container-bg);
    color: var(--text-color);
    border: none;
    text-align: left;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    outline: none;
}

.faq-answer {
    max-height: 0;
    overflow: hidden;
    padding: 0 15px;
    transition: max-height 0.4s ease, padding 0.4s ease;
}

.faq-answer p {
    margin: 10px 0;
}

.faq-question:hover {
    background-color: var(--border-color);
}

.arrow {
    transition: transform 0.3s;
}
  
.faq-item.active .faq-answer {
    max-height: 150px;
    padding: 15px;
}
  
.faq-item.active .arrow {
    transform: rotate(180deg);
}

footer{
    display: flex;
    justify-content: space-around;
    padding: 20px;
    flex-wrap: wrap;
    background-color: #e0e0e0; 
    gap: 5px;
    padding-bottom: 40px;
}

footer .footer_info{
    display: flex;
    flex-direction: column;
}

footer .footer_info:nth-child(1){
	display: flex;
	flex-direction: column;
	gap: 20px;	
}

footer .footer_info button{
    cursor: pointer;
    padding: 10px 20px;
    max-width: fit-content;
    border: none;
    background-color: dodgerblue;
    color: white;
    transition: background-color 0.5s;
    pointer-events: initial;
}

footer .footer_info button:hover{
	background-color: orangered;
}

footer .footer_info h1{
	font-weight: normal;
	font-size: 1.4em;
}

footer .footer_info h2{
    font-size: 1.2em;   
    padding-bottom: 10px;
}

footer .footer_info a{
    padding: 10px 0;
    transition: all 0.5s;
    color: #4A4A4A;
}

footer .footer_info .first_p{
	color: #4A4A4A;
}

footer .footer_info a:hover{
	color: dodgerblue;
}

footer .footer_info a i{
    font-size: 20px;
}

.copyright{
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.copyright div{
	flex: 1;
}

.copyright .social_media_icons{
	display: flex;
	gap: 20px;
	font-size: 1.3em;
}

.social_media_icons a{
    transition: color 0.5s;
}

.social_media_icons a:hover{
    color: dodgerblue;
}

.tags{
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
}

.tag{
    border-radius: 15px;
    border: solid 1px #ccc;
    max-width: fit-content;
    padding: 5px 15px;
	transition: all 0.5s;
    height: fit-content;
}

.tag:hover{
	background-color: black;
	border-color: black;
	color: white;
}

@media(max-width: 700px){
	nav .nav_links{
		display: none;
	}

	nav .nav_links{
		display: none;
	}

	nav .more_options{
		display: none;
	}

	nav .nav_icon_container{
		display: flex !important;
	}

	.first_form{
		display: none !important;
	}

	.second_form{
		display: flex !important;
	}

	.show_header{
		padding-bottom: 10px;
	}

    .featured_styles .big_feature{
        grid-column: span 1;
        grid-row: span 1;
    }

    .featured_products{
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    }
    
    .featured_products .product .image_container{
        height: 150px;
    }

    .welcome_container .overlay .welcome_message{
		max-width: unset;
	}

    .why_us_reasons{
		grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
    	margin-bottom: 50px;
	}

	.why_us_reasons .reason:nth-child(1){
		border-bottom: 2px solid #ccc;
	}

	.why_us_reasons .reason:nth-child(2){
		border-bottom: 2px solid #ccc;
		border-right: none;
	}

    .break_info .left_side{
        flex: 1;
        height: 230px;
    }

    .faq-container {
        width: 100%;
        margin: 30px auto;
    }

    footer{
    	gap: 30px;
	}
}

@media (prefers-color-scheme: dark){
    :root {
        --bg-color: #1f1f1f;
        --text-color: #f0f0f0;
        --border-color: #444444;
        --hover-bg: #333333;
    }

	body{
        background-color: #121212;
    }

    .tooltip .tooltip-text {
        background-color: #ccc;
        color: black;
    }

    .notifications_container .all_notifications .notification .message_container .response{
        background-color: #3e3e3e;
    }

    nav .more_options .tooltip .notifications_container{
        background-color: #4A4A4A;
    }

    nav .more_options .tooltip .profile .profile_option:hover{
        background-color: #333333;
    }

    header form .search_suggestions,
    .welcome_message form .search_suggestions{
        background-color: #333333;
    }

    header form .search_suggestions a:hover,
    .welcome_message form .search_suggestions a:hover{
        background: #222222;
        color: white !important;
    }

    .notifications_container .all_notifications .notification:hover{
        background-color: #333333;
    }

    nav .more_options i{
        color:white;
    }

    nav .more_options i:hover{
        background-color: rgba(255,255,255,0.3);
    }

    .mobile_screen_sidebar{
        background-color: #121212;
    }

    .close_button{
		color: white;
	}

    .intro{
		height: 60vh;
	}

    a{
        color: white;
    }

    .fa-xmark{
        color: white;
    }

	.tag{
		border: solid 1px #ccc;
	}

	.tag:hover{
		background-color: #ccc;
		color: black;
	}

    .small_info h2{
        color: white;
    }

    .small_info p{
        color: rgb(170, 170, 170);
    }

    .why_us_reasons{
    	background-color: #1f1f1f;
    }

    .why_us_reasons .reason{
		border-right: 2px solid #141414;
	}

	.why_us_reasons .reason img:nth-child(1){
		display: none;
	}

	.why_us_reasons .reason img:nth-child(2){
		display: block;
	}

	.message button{
		background-color: #333;
	}

	input, textarea{
	  background-color: #0f0f0f;
	  color: #fff;
	  border: 1px solid #333;
	  outline: none;
	  border-radius: 4px;
	}

    textarea{
        padding: 0 2px 3px 0;
    }

	input:focus, textarea:focus {
	  border-color: #007bff;
	}

	@media(max-width: 700px){
		.why_us_reasons .reason:nth-child(1){
			border-bottom: 2px solid #141414;
		}

		.why_us_reasons .reason:nth-child(2){
			border-bottom: 2px solid #141414;
		}
	}

    h1, h2, h3, p, label{
    	color: white;
    }
    
    footer{
        background-color: #1f1f1f;
    }

    footer .footer_info h2{
        color: white;
    }

    footer .footer_info a{
	    color: rgb(190, 190, 190);
	}

	footer .footer_info .first_p{
		color: rgb(190, 190, 190);
	}

    .copyright{
        color: white;
    }
}